#chat {
    /*height: 100%;*/
    width: 100%;
    display: flex;
    flex-direction: row;
}

#list_of_people {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.chat_user {
    display: flex;
    align-items: center;
    width: 100%;
    /*margin-bottom: 10px;*/
    /*border-bottom: 1px solid rgba(19, 35, 47, 0.9);*/
    padding: 10px;
    border-radius: 10px;
}

.chat_user:hover {
    cursor: pointer;
}

.chat_user_image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
    overflow: hidden;
}

.chat_user:hover {
    cursor: pointer;
}

.chat_user_image img {
    height: 100%;
    width: 100%;
}

.chat_user p {
    margin-left: 10px;
}

#messages {
    width: 50%;
    display: none;
}

#message_form {
    list-style: none;
    padding: 0 10px 20px;
    margin-bottom: 10px;
    overflow: auto;

}

.message_other,  .message_user{
    /*padding: 10px;*/
    display: flex;
    align-items: center;
    word-wrap: break-word;
    border-radius: 10px;
    margin: 5px 0;
}

.message_user {
    justify-content: flex-end;
}

.message_other p, .message_user p{
    padding: 10px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
}

.message_user p{
    background-color: rgba(19, 35, 47, 0.9);
    color: #a0b3b0;
    text-align: right;
}

.message_other p{
    background-color: #aba6a1;
}

#send_message input{

    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    border: none;
    /*border-/bottom: 1px solid rgba(19, 35, 47, 0.9);*/
    height: 30px;
    background-color: #c1bdba;
    outline: none;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
}