
.filters {
    margin: 40px 0 0 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.name {
    font-weight: bold;
}

#sort_by {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#sort_by select {
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}

.sort_line {
    width: 100%;
    margin-bottom: 30px;
}

.text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.interval {
    display: flex;
    margin-left: 20px;
}

.line {
    position: relative;
}

.line input[type=range] {
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    outline: none;
}

/* сама линия */
.line input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: rgba(19, 35, 47, 0.9);
}

/* ползунки */
.line input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.user_profile_result_img {
    margin: 10px;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
    background-color: #c4bfba;
    cursor: pointer;
}

.user_profile_result_img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

.user_profile_result_img img {
    height: 100%;
    width: 100%;
}