
#notifications {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.news {
    height: 100px;
    width: 100%;
    display: flex;
    word-break: break-all;
    align-items: center;
    border-bottom: 1px solid rgba(19, 35, 47, 0.9);
    overflow: hidden;
}

.news_img {
    margin: 0 20px;
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
    background-color: #c4bfba;
}

.news_img img {
    height: 100%;
    width: 100%;
}

#noNotif {
    color: #179b77;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}
