#profile_photos {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#profile_photos div {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-color: #c4bfba;
    margin: 0 10px 10px 0;
    position: relative;
    color: #e1ddda;
    font-size: 30px;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .first {
        width: 350px;
        height: 350px;
    }
}

.photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.photo i {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.photo input {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 40px;
    max-height: 40px;
}

.photo i:hover {
    transform: scale(1.1);
    transition: 1s;
}

.photo div:hover i{
    transform: scale(1.1);
    transition: 1s;
}
