.edit_field, #location {
    font-size: large;
    font-weight: bold;
}

.edit_field input, .edit_field textarea {
    padding-left: 10px;
    padding-right: 10px;
}

.edit_field select {
    padding-left: 6px;
    padding-right: 6px;
}

.edit_field input, .edit_field select, #inputLocation input, .edit_field textarea {
    height: 30px;
    font-size: medium;
    outline: none;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
    margin: 10px 0;
    background-color: #c4bfba;
    border: none;
    width: 100%;
    border-radius: 5px;
}

#bio {
    height: 200px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#birth_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#birth_day select, #birth_month select, #birth_year select {
    width: 80px;
}

#location{
    margin-top: 10px;
}

#map {
    height: 300px;
    width: 100%;
    margin: 10px 0 40px 0;
    position: relative;
}

#location_input{
    display: flex;
    /*background-color: black;*/
    height: 30px;
    margin: 10px 0;
}

#location_input input {
    font-size: medium;
    outline: none;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
    background-color: #c4bfba;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
}

#location_select {
    display: flex;
    margin-top: 10px;

}

#location_select input {
    margin-right: 10px;
    align-self: center;
}

#location_select p {
    font-size: medium;
    font-weight: normal;
}
