.edit_field, #location {
    font-size: large;
    font-weight: bold;
}

.edit_field input {
    padding-left: 10px;
}

.edit_field input, .edit_field select {
    height: 30px;
    font-size: medium;
    outline: none;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
    margin: 10px 0;
    background-color: #aba6a1;
    border: none;
    width: 100%;
    border-radius: 5px;
}

#bio {
    height: 200px;
}

#birth_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#birth_day select, #birth_month select, #birth_year select {
    width: 80px;
}

#location{
    margin-top: 10px;
}

#map {
    height: 300px;
    width: 100%;
    margin-top: 10px;
    position: relative;
}
