.likes_views {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}

.user_like {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(19, 35, 47, 0.9);
    margin: 10px;
    background-color: #c4bfba;
}

.user_like img {
    height: 100%;
    width: 100%;
}

.user_like:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}